@model Fiora.Models.Arreglo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Arreglo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporadaArreglo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporadaArreglo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OcasionArreglo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OcasionArreglo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArreglo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArreglo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoArreglo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoArreglo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioArreglo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioArreglo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEstimadoMin / 60)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEstimadoMin / 60)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
