@model IEnumerable<Fiora.Models.Arreglo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TemporadaArreglo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OcasionArreglo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreArreglo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoArreglo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioArreglo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoEstimadoHoras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TemporadaArreglo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OcasionArreglo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreArreglo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoArreglo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioArreglo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoEstimadoHoras)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
